/*浅色场景*/
[data-md-color-scheme="default"] 
{

/* 修改正文链接的默认颜色 */
.md-typeset a {
  color: #1b589eb6; /* 你的清新橘 */
  text-decoration: none; /* 去掉下划线（可选） */
  border-bottom: 1px solid transparent; /* 为悬停动画做准备 */
  transition: color 0.3s, border-bottom 0.3s;
}

/* 修改鼠标悬停时的链接颜色 */
.md-typeset a:hover {
  color: #f1a533f1; /* 悬停时稍微加深一点橘色 */
  border-bottom: 1px solid #f1a533f1; /* 悬停时显示下划线 */
}


/* 卡片基础样式美化，浅色场景*/
.grid.cards > ul > li {
  border: 1px solid #f0f0f0; /* 极浅的边框 */
  border-radius: 12px;       /* 圆角 */
  transition: all 0.5s ease; /* 平滑动画 */
  background-color: #ffffff;
}

/* 鼠标悬停时的效果 */
.grid.cards > ul > li:hover {
  border-color: #13878b3f;     /* 青绿*/
  box-shadow: 0 10px 20px rgba(12, 77, 68, 0.158); /* 橘色投影 */
  transform: translateY(-12px); /* 向上浮动 */
}

/* 卡片内标题颜色 */
.grid.cards > ul > li strong {
  color: #14bdaf7c;
}

.grid.cards > ul > li:hover strong {
  color: #f1a533f1;
}

/* 修改`sd`行内代码样式 */
:not(pre) > code {
    /*color: #ff4766 !important;  文字颜色 */
    color: #cc984bfb !important; /* 文字颜色 */
    background-color: #f1f2f6 !important; /* 背景色 */
    padding: 0.1rem 0.3rem;
    border-radius: 0.2rem;
}

/* 注释颜色 */
.highlight .c,  /* 通用注释 */
.highlight .c1, /* 单行注释 */
.highlight .cm, /* 多行注释 */
.highlight .cs  /* 特殊注释 (例如 C# 的 doc tags) */ {
    color: #8b949e !important; 
    font-style: italic;
}

}

/*#################################################################################*/

/*深色场景*/
[data-md-color-scheme="slate"] 
{


/* 修改正文链接的默认颜色 */
.md-typeset a {
  color: #4184cff3; /* 你的清新橘 */
  text-decoration: none; /* 去掉下划线（可选） */
  border-bottom: 1px solid transparent; /* 为悬停动画做准备 */
  transition: color 0.3s, border-bottom 0.3s;
}

/* 修改鼠标悬停时的链接颜色 */
.md-typeset a:hover {
  color: #f1a533f1; /* 悬停时稍微加深一点橘色 */
  border-bottom: 1px solid #f1a533f1; /* 悬停时显示下划线 */
}


/* 卡片基础样式美化，浅色场景*/
.grid.cards > ul > li {
  border: 1px solid #969696a8; /* 极浅的边框 */
  border-radius: 12px;       /* 圆角 */
  transition: all 0.5s ease; /* 平滑动画 */
  background-color: #36393a9a;
}

/* 鼠标悬停时的效果 */
.grid.cards > ul > li:hover {
  border-color: #13878b3f;     /* 青绿*/
  box-shadow: 0 10px 20px rgba(12, 77, 68, 0.158); /* 橘色投影 */
  transform: translateY(-12px); /* 向上浮动 */
}

/* 卡片内标题颜色 */
.grid.cards > ul > li strong {
  color: #14bdaf7c;
}

.grid.cards > ul > li:hover strong {
  color: #f1a533f1;
}
}
